# See http://help.github.com/ignore-files/ for more about ignoring files.
go-app
# dependencies
/node_modules
/bower_components

# IDEs and editors
/.idea
.project
.classpath
*.launch
.settings/
__debug_bin
__debug_bin.*
.history

# System Files
.DS_Store
Thumbs.db
.directory

vendor/*
!vendor/vendor.json

tmp/*
gorm.db
coverage.txt

bak.*
*.log

# Others
/.vscode/
/dist/
/build/
/profile/
*.exe
